.menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin-right: 32px;
    transition: opacity .1s ease;
}

.menu-item:last-of-type {
    margin-right: 0;
}

.menu-item__link:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    opacity: .6;
    cursor: pointer;
}

.menu-item__link {
    text-decoration: none;
    font-family: MuseoSansCyrl;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 3px;
}

.menu-item__link_active {
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    opacity: .6;
}

@media screen and (max-width: 1023px) {
    .menu-list {
        flex-direction: column;
        align-items: center;
    }
    .menu-item {
        margin-bottom: 32px;
        margin-right: 0;
        font-size: 16px;
        font-weight: 300;
    }
    .menu-item:last-of-type {
        margin-bottom: 0;
    }
}
