/* .main {
    display: flex;
    justify-content: space-between;
    padding: 42px 188px 42px 220px;
}

.main__benefits-container {
    width: 310px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main__benefits {
    display: flex;
    flex-direction: row;
}

.main__benefits-item {
    display: flex;
    justify-content: center;
    min-height: 116px;
    box-sizing: border-box;
}

.main__benefits-item-text {
    text-decoration: none;
    text-align: center;
    font-family: MuseoSansCyrl;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    color: unset;
    line-height: 36px;
    width: 100%;
    height: 100%;
    align-self: center;
}

.main__benefits-item:first-child {
    color: #FFF;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
    background: -o-linear-gradient(top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:nth-child(2) {
    color: rgba(255, 255, 255, .8);
    background: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
    background: -o-linear-gradient(right top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:nth-child(3) {
    color: #FFF;
    background: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
    background: -o-linear-gradient(bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
    background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:last-of-type {
    color: rgba(255, 255, 255, .8);
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
    background: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
    background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:first-child:hover {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to top left, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item:nth-child(2):hover {
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right top, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item:nth-child(3):hover {
    border-right: 1px solid;
    border-top: 1px solid;
    border-image: linear-gradient(to bottom left, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item:last-of-type:hover {
    border-left: 1px solid;
    border-top: 1px solid;
    border-image: linear-gradient(to bottom right, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;

    background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .2)));
    background: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
    background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item-number {
    font-size: 40px;
    font-style: normal;
    font-family: MuseoSansCyrl;
    font-weight: 700;
    line-height: 26px;
    vertical-align: text-top;
}

.main__benefits-item-year {
    font-size: 16px;
    font-family: 'MuseoSansCyrl';
    font-weight: 700;
    line-height: 8px;
    vertical-align: bottom;
}

.main__title {
    width: 322px;
    font-family: MuseoSansCyrl;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    margin: 24px 0 0;
    background: -webkit-linear-gradient(0deg, #FFF 37%, #FFF 22%, #F53111 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(0deg, #FFF 37%, #FFF 22%, #F53111 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    clip-path: polygon(0 91%, 0 0, 100% 0%, 94% 18%);
}

.main__title-span {
    font-weight: 300;
    font-size: 17px;
    text-transform: lowercase;
    vertical-align: top;
} */

/* .rocket {
    position: absolute;
    left: 524px;
    top: 2px;
    transition:  3s linear;
}

.rocket:hover {
    top: -200px;
} */

/* .main {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 118px 60px 42px 90px;
    max-width: 1280px;
    margin: 0 auto;
}

.main__title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.main__benefits-container {
    max-width: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main__benefits {
    display: flex;
    flex-direction: row;
}

.main__benefits-item {
    display: flex;
    justify-content: center;
    min-height: 135px;
    box-sizing: border-box;
}

.main__benefits-item-text {
    text-decoration: none;
    text-align: center;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    color: unset;
    line-height: 44px;
    width: 100%;
    height: 100%;
    align-self: center;
}

.main__benefits-item:first-child {
    color: #FFF;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
    background: -o-linear-gradient(top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:nth-child(2) {
    color: rgba(255, 255, 255, .8);
    background: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
    background: -o-linear-gradient(right top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:nth-child(3) {
    color: #FFF;
    background: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
    background: -o-linear-gradient(bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
    background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:last-of-type {
    color: rgba(255, 255, 255, .8);
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
    background: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
    background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:first-child:hover {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to top left, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item:nth-child(2):hover {
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right top, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item:nth-child(3):hover {
    border-right: 1px solid;
    border-top: 1px solid;
    border-image: linear-gradient(to bottom left, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item:last-of-type:hover {
    border-left: 1px solid;
    border-top: 1px solid;
    border-image: linear-gradient(to bottom right, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;

    background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .2)));
    background: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
    background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item-number {
    font-size: 50px;
    font-style: normal;
    font-family: MuseoSansCyrl;
    font-weight: 700;
    line-height: 28px;
    vertical-align: bottom;
}

.main__benefits-item-year {
    font-size: 18px;
    font-family: 'MuseoSansCyrl';
    font-weight: 700;
    line-height: 6px;
    vertical-align: bottom;
}

.main__title-span {
    font-weight: 300;
    font-size: 22px;
    text-transform: lowercase;
    vertical-align: top;
}

.line {
    position: absolute;
    width: 32%;
    top: 332px;
    left: 232px;
}

.start-journey__btn-container {
    position: relative;
}

.start-journey__btn {
    font-family: MuseoSansCyrl;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: #FFF;
    width: 162px;
    height: 35px;
    padding: 0;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    margin-bottom: 30px;
    box-sizing: border-box;
    transition: opacity .3s ease;
    -o-border-image: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(0, 123, 255, 1), rgba(255, 255, 255, .1)) 1;
    border-image: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 255, 255, .1)), color-stop(rgba(0, 123, 255, 1)), to(rgba(255, 255, 255, .1))) 1;
    border-image: linear-gradient(to top left, rgba(255, 255, 255, .1), rgba(0, 123, 255, 1), rgba(255, 255, 255, .1)) 1;
}

.start-journey__btn:hover {
    opacity: .6;
    cursor: pointer;
}

.start-journey__btn-corner {
    position: absolute;
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    width: 3px;
    height: 3px;
    top: 31px;
    left: 0;
    bottom: 0;
    right: 0;
}

.start-journey__btn-corner:first-child {
    position: absolute;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    width: 3px;
    height: 3px;
    top: 0;
    left: 158px;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 3000px) {
    .main__title {
        display: table;
        width: 322px;
        font-family: MuseoSansCyrl;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        color: #FFF;
        text-transform: uppercase;
        margin: 37px 0 0;
        background: -webkit-linear-gradient(0deg, #FFF 37%, #FFF 22%, #F53111 86%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background: -moz-linear-gradient(0deg, #FFF 37%, #FFF 22%, #F53111 86%);
    }
}

@media screen and (min-width: 1279px) and (max-width: 1290px) {
    .main__title {
        clip-path: polygon(0 100%, 0 0, 102% -3%, 94% 49%);
        -webkit-clip-path: polygon(0 100%, 0 0, 102% -3%, 94% 49%);
    }
}

@media screen and (min-width: 1023px) and (max-width: 1034px) {
    .main__title {
        -webkit-clip-path: polygon(0 150%, 0 0, 102% -45%, 88% 46%);
        clip-path: polygon(0 150%, 0 0, 102% -45%, 88% 46%);
    }
}

@media screen and (min-width: 765px) and (max-width: 775px) {
    .main__title {
        -webkit-clip-path: polygon(0 150%, 0 0, 102% -7%, 91% 67%);
        clip-path: polygon(0 150%, 0 0, 102% -7%, 91% 67%);
    }
}


@media screen and (max-width: 1279px) {
    .main {
        padding: 118px 20px 42px 48px;
    }

    .main__title {
        font-size: 41px;
    }

    .main__benefits-container {
        grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    }

    .main__benefits-item-number {
        font-size: 46px;
    }

    .main__benefits-item-text {
        font-size: 15px;
    }

    .main__benefits-item-year {
        font-size: 15px;
        line-height: 7px;
    }

    .line {
        top: 343px;
        left: 185px;
    }

    .start-journey__btn {
        font-size: 13px;
        width: 148px;
    }

    .start-journey__btn-corner:first-child {
        left: 144px;
    }
}

@media screen and (max-width: 1023px) {
    .main {
        padding: 118px 6px 42px 14px;
    }

    .main__benefits-container {
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
        grid-gap: 6px;
        max-width: 226px;
    }

    .main__benefits-item {
        min-height: 102px;
    }

    .main__benefits-item-text {
        font-size: 11px;
        font-weight: 300;
        line-height: 34px;
    }

    .main__benefits-item-number {
        font-size: 34px;
        line-height: 14px;
    }

    .main__benefits-item-year {
        font-size: 13px;
        line-height: 0px;
    }

    .main__title {
        font-size: 28px;
        width: 100%;
    }

    .main__title-span {
        font-size: 14px;
    }

    .start-journey__btn {
        font-size: 12px;
        width: 133px;
    }

    .start-journey__btn-corner:first-child {
        left: 129px;
    }

    .line {
        top: 312px;
        left: 138px;
    }

    .main__benefits-item:nth-child(3) {
        text-shadow: 0px 0px 63px #000;
    }
}

@media screen and (min-width:320px) and (max-width: 767px) {
  .line {
    display: none;
  }
}

@media screen and (min-width:769px) and (max-width: 1023px) {
  .line {
    display: none;
  }
}

@media screen and (min-width:1025px) and (max-width: 1279px) {
  .line {
    display: none;
  }
}

@media screen and (max-width: 484px) {
    .main {
        flex-direction: column-reverse;
        align-items: center;
        padding: 40px 14px 0;
    }

    .main__benefits-item:first-child {
        color: #FFF;
    }

    .main__benefits-item:nth-child(2) {
        color: #FFF;
    }

    .main__benefits-item:nth-child(3) {
        color: #FFF;
        text-shadow: unset;
    }

    .main__benefits-item:last-of-type {
        color: #FFF;
    }

    .main__benefits-container {
        grid-template-columns: repeat(auto-fill, minmax(143px, 1fr));
        grid-gap: 6px;
        max-width: 292px;
    }

    .main__benefits-item-text {
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        border-image: linear-gradient(to left, rgba(255, 255, 255, .1), rgb(255 255 255), rgba(255, 255, 255, .1)) 1;
    }

    .main__benefits-item {
        border-right: 1px solid #FFF;
        border-left: 1px solid #FFF;
        border-image: linear-gradient(to top, rgba(255, 255, 255, .1), rgb(255 255 255), rgba(255, 255, 255, .1)) 1;
    }

    .main__title {
      -webkit-text-fill-color: unset;
      font-size: 34px;
      margin: 50px 0 0 44px;
      text-shadow: 0px 0px 4px #000;
    }

    .main__title-container {
        align-items: center;
    }

    .start-journey__btn {
      width: 292px;
      text-shadow: 0px 0px 2px #000;
      box-shadow: 0px 0px 4px #000;
      border: none;
      font-size: 15px;
      margin-top: 82px;
      margin-bottom: 0;
    }

    .start-journey__btn-corner:first-child {
       display: none;
    }

    .start-journey__btn-corner {
        display: none;
    }
} */

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 118px 60px 42px 90px;
  max-width: 1280px;
  margin: 0 auto;
}

.main__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.main__benefits-container {
  max-width: 350px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.main__benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 135px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__benefits-item-text {
  text-decoration: none;
  text-align: center;
  font-family: MuseoSansCyrl;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  color: unset;
  line-height: 44px;
  width: 100%;
  height: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.main__benefits-item:first-child {
  color: #FFF;
  background: -o-linear-gradient(top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:nth-child(2) {
  color: rgba(255, 255, 255, .8);
  background: -o-linear-gradient(right top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:nth-child(3) {
  color: #FFF;
  background: -o-linear-gradient(bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
  background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:last-of-type {
  color: rgba(255, 255, 255, .8);
  background: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .1)));
  background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .1));
}

.main__benefits-item:first-child:hover {
  border-right: 1px solid;
  border-bottom: 1px solid;
  -o-border-image: -o-linear-gradient(bottom right, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
  -webkit-border-image: -webkit-gradient(linear, right bottom, left top, from(rgba(173, 173, 173, 0.6)), color-stop(rgba(134, 134, 134, .1)), to(rgba(134, 134, 134, .1))) 1;
  border-image: linear-gradient(to top left, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .2)));
  background: -o-linear-gradient(top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item:nth-child(2):hover {
  border-left: 1px solid;
  border-bottom: 1px solid;
  -o-border-image: -o-linear-gradient(left bottom, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
  -webkit-border-image: -webkit-gradient(linear, left bottom, right top, from(rgba(173, 173, 173, 0.6)), color-stop(rgba(134, 134, 134, .1)), to(rgba(134, 134, 134, .1))) 1;
  border-image: linear-gradient(to right top, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .2)));
  background: -o-linear-gradient(right top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item:nth-child(3):hover {
  border-right: 1px solid;
  border-top: 1px solid;
  -o-border-image: -o-linear-gradient(top right, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
  -webkit-border-image: -webkit-gradient(linear, right top, left bottom, from(rgba(173, 173, 173, 0.6)), color-stop(rgba(134, 134, 134, .1)), to(rgba(134, 134, 134, .1))) 1;
  border-image: linear-gradient(to bottom left, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .2)));
  background: -o-linear-gradient(bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
  background: linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item:last-of-type:hover {
  border-left: 1px solid;
  border-top: 1px solid;
  -o-border-image: -o-linear-gradient(top left, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
  -webkit-border-image: -webkit-gradient(linear, left top, right bottom, from(rgba(173, 173, 173, 0.6)), color-stop(rgba(134, 134, 134, .1)), to(rgba(134, 134, 134, .1))) 1;
  border-image: linear-gradient(to bottom right, rgba(173, 173, 173, 0.6), rgba(134, 134, 134, .1), rgba(134, 134, 134, .1)) 1;
  background: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(rgba(255, 255, 255, .2)));
  background: linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
}

.main__benefits-item-number {
  font-size: 50px;
  font-style: normal;
  font-family: MuseoSansCyrl;
  font-weight: 700;
  line-height: 28px;
  vertical-align: bottom;
}

.main__benefits-item-year {
  font-size: 18px;
  font-family: 'MuseoSansCyrl';
  font-weight: 700;
  line-height: 6px;
  vertical-align: bottom;
}

.main__title-span {
  font-weight: 300;
  font-size: 22px;
  text-transform: lowercase;
  vertical-align: top;
}

.line {
  position: absolute;
  width: 32%;
  top: 332px;
  left: 232px;
}

.start-journey__btn-container {
  position: relative;
}

.start-journey__btn {
  font-family: MuseoSansCyrl;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #FFF;
  width: 162px;
  height: 35px;
  padding: 0;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -o-border-image: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(0, 123, 255, 1), rgba(255, 255, 255, .1)) 1;
  -webkit-border-image: -webkit-gradient(linear, right bottom, left top, from(rgba(255, 255, 255, .1)), color-stop(rgba(0, 123, 255, 1)), to(rgba(255, 255, 255, .1))) 1;
  border-image: linear-gradient(to top left, rgba(255, 255, 255, .1), rgba(0, 123, 255, 1), rgba(255, 255, 255, .1)) 1;
}

.start-journey__btn:hover {
  opacity: .6;
  cursor: pointer;
}

.start-journey__btn-corner {
  position: absolute;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  width: 3px;
  height: 3px;
  top: 31px;
  left: 0;
  bottom: 0;
  right: 0;
}

.start-journey__btn-corner:first-child {
  position: absolute;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid #FFF;
  border-top: 1px solid #FFF;
  width: 3px;
  height: 3px;
  top: 0;
  left: 158px;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 3000px) {
  .main__title {
    display: table;
    width: 322px;
    font-family: MuseoSansCyrl;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    margin: 37px 0 0;
    background: -webkit-linear-gradient(0deg, #FFF 37%, #FFF 22%, #F53111 86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -moz-linear-gradient(0deg, #FFF 37%, #FFF 22%, #F53111 86%);
  }
}

@media screen and (min-width: 1279px) and (max-width: 1290px) {
  .main__title {
    clip-path: polygon(0 100%, 0 0, 102% -3%, 94% 49%);
    -webkit-clip-path: polygon(0 100%, 0 0, 102% -3%, 94% 49%);
  }
}

@media screen and (min-width: 1023px) and (max-width: 1034px) {
  .main__title {
    -webkit-clip-path: polygon(0 150%, 0 0, 102% -45%, 88% 46%);
    clip-path: polygon(0 150%, 0 0, 102% -45%, 88% 46%);
  }
}

@media screen and (min-width: 765px) and (max-width: 775px) {
  .main__title {
    -webkit-clip-path: polygon(0 150%, 0 0, 102% -7%, 91% 67%);
    clip-path: polygon(0 150%, 0 0, 102% -7%, 91% 67%);
  }
}


@media screen and (max-width: 1279px) {
  .main {
    padding: 118px 20px 42px 48px;
  }

  .main__title {
    font-size: 41px;
  }

  .main__benefits-container {
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }

  .main__benefits-item-number {
    font-size: 46px;
  }

  .main__benefits-item-text {
    font-size: 15px;
  }

  .main__benefits-item-year {
    font-size: 15px;
    line-height: 7px;
  }

  .line {
    top: 343px;
    left: 185px;
  }

  .start-journey__btn {
    font-size: 13px;
    width: 148px;
  }

  .start-journey__btn-corner:first-child {
    left: 144px;
  }
}

@media screen and (max-width: 1023px) {
  .main {
    padding: 118px 6px 42px 14px;
  }

  .main__benefits-container {
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
    grid-gap: 6px;
    max-width: 226px;
  }

  .main__benefits-item {
    min-height: 102px;
  }

  .main__benefits-item-text {
    font-size: 11px;
    font-weight: 300;
    line-height: 34px;
  }

  .main__benefits-item-number {
    font-size: 34px;
    line-height: 14px;
  }

  .main__benefits-item-year {
    font-size: 13px;
    line-height: 0px;
  }

  .main__title {
    font-size: 28px;
    width: 100%;
  }

  .main__title-span {
    font-size: 14px;
  }

  .start-journey__btn {
    font-size: 12px;
    width: 133px;
  }

  .start-journey__btn-corner:first-child {
    left: 129px;
  }

  .line {
    top: 312px;
    left: 138px;
  }

  .main__benefits-item:nth-child(3) {
    text-shadow: 0px 0px 63px #000;
  }
}

@media screen and (min-width:320px) and (max-width: 767px) {
  .line {
    display: none;
  }
}

@media screen and (min-width:769px) and (max-width: 1023px) {
  .line {
    display: none;
  }
}

@media screen and (min-width:1025px) and (max-width: 1279px) {
  .line {
    display: none;
  }
}

@media screen and (max-width: 484px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 14px 0;
  }

  .main__benefits-item:first-child {
    color: #FFF;
  }

  .main__benefits-item:nth-child(2) {
    color: #FFF;
  }

  .main__benefits-item:nth-child(3) {
    color: #FFF;
    text-shadow: unset;
  }

  .main__benefits-item:last-of-type {
    color: #FFF;
  }

  .main__benefits-container {
    grid-template-columns: repeat(auto-fill, minmax(143px, 1fr));
    grid-gap: 6px;
    max-width: 292px;
  }

  .main__benefits-item-text {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    -o-border-image: -o-linear-gradient(right, rgba(255, 255, 255, .1), rgb(255 255 255), rgba(255, 255, 255, .1)) 1;
    -webkit-border-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, .1)), color-stop(rgb(255 255 255)), to(rgba(255, 255, 255, .1))) 1;
    border-image: linear-gradient(to left, rgba(255, 255, 255, .1), rgb(255 255 255), rgba(255, 255, 255, .1)) 1;
  }

  .main__benefits-item {
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    -o-border-image: -o-linear-gradient(bottom, rgba(255, 255, 255, .1), rgb(255 255 255), rgba(255, 255, 255, .1)) 1;
    -webkit-border-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .1)), color-stop(rgb(255 255 255)), to(rgba(255, 255, 255, .1))) 1;
    border-image: linear-gradient(to top, rgba(255, 255, 255, .1), rgb(255 255 255), rgba(255, 255, 255, .1)) 1;
  }

  .main__title {
    -webkit-text-fill-color: unset;
    font-size: 34px;
    margin: 50px 0 0 44px;
    text-shadow: 0px 0px 4px #000;
  }

  .main__title-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .start-journey__btn {
    width: 292px;
    text-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
    border: none;
    font-size: 15px;
    margin-top: 82px;
    margin-bottom: 0;
  }

  .start-journey__btn-corner:first-child {
    display: none;
  }

  .start-journey__btn-corner {
    display: none;
  }
}
