.header {
  max-width: 1280px;
  padding: 0 90px;
  margin: 0 auto;
  background: rgba(0, 0, 0, .4);
  opacity: .8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.header__logo {
  width: 200px;
  align-self: center;
}

.header__logo-container {
  display: flex;
  justify-content: center;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, .2);
  border-right: 1px solid rgba(255, 255, 255, .2);
  width: 240px;
  height: 64px;
}

.header__logo-corner {
  position: absolute;
  border-left: 2px solid #FFF;
  border-top: 2px solid #FFF;
  width: 3px;
  height: 3px;
  top: 0;
  left: -1px;
  bottom: 0;
  right: 0;
}

.header__logo-corner:first-child {
  border-right: 2px solid #FFF;
  border-left: none;
  left: 237px;
  top: 0px;
  /* bottom: 0;
  left: 0; */
}

.header__logo-corner:nth-child(2) {
  border-right: none;
  border-left: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  border-top: none;
  left: -1px;
  top: 60px;
}

.header__logo-corner:last-of-type {
  border-right: 2px solid #FFF;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #FFF;
  left: 237px;
  top: 60px;
}

.header__menu-btn {
  display: none;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }

  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }

  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }

  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }

  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.header__logo-container:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@media screen and (max-width: 1079px) {
  .header {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 14px;
    padding-right: 8px;
  }

  .header__menu-btn {
    display: block;
    padding: 0;
    width: 44px;
    height: 44px;
    border: unset;
    background-color: transparent;
    background-image: url('../../images/burger-menu-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .header__logo-corner:first-child {
    left: 181px;
  }

  .header__logo-corner:last-of-type {
    left: 181px;
  }

  .header__logo-container {
    display: flex;
    justify-content: center;
    width: 184px;
  }

  .header__logo {
    width: 170px;
  }
}
