.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 79px 70px 20px 70px;
}

.footer__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: #A0A0A0;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  padding: 0 0 20px;
  margin: 0 auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;
}

.footer__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-link {
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 1.23;
  color: #000;
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s ease;
}

.footer__list-item {
  margin: 0 24px 0 0;
}

.footer__list-item:last-of-type {
  margin-right: 0;
}

.footer__text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.23;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 79px 10px 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 1.25;
    padding: 0 0 21px;
  }

  .footer__container {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .footer__list {
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .footer__list-item {
    margin: 0 0 12px;
  }

  .footer__list-item:last-of-type {
    margin-bottom: 0;
  }

  .footer__text {
    font-size: 12px;
    line-height: 1.25;
    color: #A0A0A0;
    margin: 0 auto;
  }
}